<article class="forecast">

  <div class="detail">
    <h2>
      {{@forecast.weekDayShort}}
    </h2>
    <h4>
      {{@forecast.dateShort}}
    </h4>
  </div>

  <div class="detail temperature high">
    <div>Max.</div>
    <h2>
      {{@forecast.minTemperature}} °F
    </h2>
  </div>

  <div class="detail temperature low">
    <div>Min.</div>
    <h2>
      {{@forecast.maxTemperature}} °F
    </h2>
  </div>

  <div class="detail times-of-day">
    <div class="time-of-day day">
      <img src={{@forecast.dayIconSrc}} />
      <span>{{@forecast.dayIconPhrase}}</span>
    </div>
    <div class="time-of-day night">
      <img src={{@forecast.nightIconSrc}} />
      <span>{{@forecast.nightIconPhrase}}</span>
    </div>
  </div>

</article>
